@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
}

/* Utilities */
@layer utilities {
  .bg-landing-grid {
    background-size: 100px 100px;
    background-image:
      linear-gradient(to right, var(--ui-bg-accented) 1px, transparent 1px),
      linear-gradient(to bottom, var(--ui-bg-accented) 1px, transparent 1px);
  }

  .dark .bg-landing-grid {
    background-image:
      linear-gradient(to right, var(--ui-bg-elevated) 1px, transparent 1px),
      linear-gradient(to bottom, var(--ui-bg-elevated) 1px, transparent 1px);
  }
}

/* Transition: Slide Up */
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

/* Transition: Expand Height */
.expand-height-enter-active,
.expand-height-leave-active {
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.expand-height-enter-from,
.expand-height-leave-to {
  max-height: 0;
  opacity: 0;
  transform: scaleY(0.95);
}

.expand-height-enter-to,
.expand-height-leave-from {
  max-height: 100px;
  opacity: 1;
  transform: scaleY(1);
}