@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
}

/* Utilities */
@layer utilities {
  .bg-landing-grid {
    background-size: 100px 100px;
    background-image:
      linear-gradient(to right, var(--ui-bg-accented) 1px, transparent 1px),
      linear-gradient(to bottom, var(--ui-bg-accented) 1px, transparent 1px);
  }

  .dark .bg-landing-grid {
    background-image:
      linear-gradient(to right, var(--ui-bg-elevated) 1px, transparent 1px),
      linear-gradient(to bottom, var(--ui-bg-elevated) 1px, transparent 1px);
  }
}

/* Transitions */
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}